.loader {
  position: absolute;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);
  width: 12rem;
  height: 1.6rem;
  color: #4caf50;
  border: 2px solid;
  border-radius: 4rem;
}

.loader::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 25%;
  margin: 0.2rem;
  content: "";
  background: currentColor;
  border-radius: inherit;
  animation: loader 1s infinite linear;
}

@keyframes loader {
  50% {
    left: 100%;
    transform: translateX(calc(-100% - 4px));
  }
}
