.loader {
  position: relative;
  width: 120px;
  height: 16px;
  color: #514b82;
  border: 2px solid;
  border-radius: 40px;
}

.loader::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 25%;
  margin: 2px;
  content: "";
  background: currentColor;
  border-radius: inherit;
  animation: loader 1s infinite linear;
}

@keyframes loader {
  50% {
    left: 100%;
    transform: translateX(calc(-100% - 4px));
  }
}
